@model CS_305_Group_Project.Models.ApplicationUser
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Needle Stick</h1>
    <p class="lead">Welcome! Please log in to see your logged reports or create a new report.</p>
    <p>
        @{
            if (User.Identity.Name.Length == 0)
            {
                <input type="button" onclick="location.href='@Url.Action("Login", "Account")'" class="btn btn-primary btn-lg" value="Log in >>">

            }
            else if (Model.Role.Equals("SecurityOfficer"))
            {
                <input type="button" onclick="location.href='@Url.Action("Index", "NSticks")'" class="btn btn-primary btn-lg" value="View user's reported sticks >>">
                <input type="button" onclick="location.href='@Url.Action("SecurityUsers", "NSticks")'" class="btn btn-primary btn-lg" value="View Users >>">
            }
            else if (Model.Role.Equals("Admin"))
            {
                <input type="button" onclick="location.href='@Url.Action("Index", "NSticks")'" class="btn btn-primary btn-lg" value="View user's reported sticks >>">
                <input type="button" onclick="location.href='@Url.Action("AdminUsers", "NSticks")'" class="btn btn-primary btn-lg" value="View Accounts >>">
            }
            else
            {
                <input type="button" onclick="location.href='@Url.Action("New", "NSticks")'" class="btn btn-primary btn-lg" value="Report needle stick >>">
                <input type="button" onclick="location.href='@Url.Action("Index", "NSticks")'" class="btn btn-primary btn-lg" value="View your reported sticks >>">
            }
        }
    </p>
</div>

<h2>About</h2>

<p>*** If you are using a search bar, and want to search for all, clear search bar and press search button. ***</p>

<p>This application was created with the thought of making needle related accident reporting easier.</p>