@model CS_305_Group_Project.Models.ApplicationUser
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Needle Stick</h1>
    
    <p>
    @{
        if (User.Identity.Name.Length == 0)
        {
                <p class="lead">Welcome! Please log in to see your logged reports or create a new report.</p>
                <input type="button" onclick="location.href='@Url.Action("Login", "Account")'" class="btn btn-primary btn-lg" value="Log in >>">

        }
        else if (Model.Role.Equals("SecurityOfficer"))
        {
            <p class="lead">Welcome! You can view accident reports and handle user verification.</p>
                <input type="button" onclick="location.href='@Url.Action("SecurityUsers", "NSticks")'" class="btn btn-primary btn-lg" value="View Users >>">
                <input type="button" onclick="location.href='@Url.Action("Index", "NSticks")'" class="btn btn-primary btn-lg" value="View users' reported sticks >>">
        }
        else if (Model.Role.Equals("Admin"))
        {
            <p class="lead">Welcome! You control who is who, and what they are.</p>
                
                <input type="button" onclick="location.href='@Url.Action("AdminUsers", "NSticks")'" class="btn btn-primary btn-lg" value="View Accounts >>">
                <input type="button" onclick="location.href='@Url.Action("Index", "NSticks")'" class="btn btn-primary btn-lg" value="View users' reported sticks >>">
        }
        else
        {
            <p class="lead">Welcome! You can see your logged reports or create a new report.</p>
                <input type="button" onclick="location.href='@Url.Action("New", "NSticks")'" class="btn btn-primary btn-lg" value="Report needle stick >>">
                <input type="button" onclick="location.href='@Url.Action("Index", "NSticks")'" class="btn btn-primary btn-lg" value="View your reported sticks >>">
            }
        }
    </p>
</div>

<h2>About</h2>

<p>*** If you are using a search bar, and want to search for all, clear search bar and press search button. ***</p>

<p>This application was created with the thought of making needle related accident reporting easier.</p>