@model IEnumerable<CS_305_Group_Project.Models.ApplicationUser>

@{
    ViewBag.Title = "All Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Users</h2>

<style>
    tr:nth-child(even) {
        background-color: #eeeeee;
    }

    th {
        vertical-align: central;
        text-align: center;
    }

    td {
        vertical-align: central;
        text-align: center;
    }
</style>

<body>
    <h4>
        All users at your medical facility
    </h4>

    <p>
        @Html.ActionLink("Back to home", "Index", "Home")
    </p>

    @using (Html.BeginForm())
    {
        <p>
            Find by name:    @Html.TextBox("NameString")
            <input type="submit" value="Search" />
        </p>

        <p>
            Find by UserName: @Html.TextBox("SearchString")
            <input type="submit" value="Search" />
        </p>
    }

    <table cellpadding="10" cellspacing="10">
        <tr>
            <th></th>

            <th align="center"> 
                @Html.ActionLink("Verified", "SecurityUsers", new { sortOrder = ViewBag.HandleSortParm })
            </th>

            <th align="center">
                UserName
            </th>

            <th align="center">
                Email
            </th>

            <th align="center">
                First Name
            </th>

            <th align="center">
                Last Name
            </th>

            <th align="center">
                Phone Number
            </th>

        </tr>

        @foreach (var User in Model)
        {

            <tr>

                <td align="center">
                    @Html.ActionLink("Verify", "SetVerified", new { id = User.Id })
                </td>
                
                @{
                    if (User.Verified)
                    {
                        <td align="center">
                            &#10004
                        </td>
                    }
                    else
                    {
                        <td align="center">
                            -
                        </td>
                           
                    }
                }

                <td align="center">
                    @User.UserName
                </td>

                <td align="center">
                    @User.Email
                </td>

                <td align="center">
                    @User.FirstName
                </td>

                <td align="center">
                    @User.LastName
                </td>

                <td align="center">
                    @User.PhoneNumber
                </td>

            </tr>

         }

    </table>

</body>