@model IEnumerable<CS_305_Group_Project.Models.NStick>
@{
    ViewBag.Title = "All Needle Sticks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>All Needle Sticks</h2>

<body>
    <h4>
        All Stick Reports
    </h4>
    
    <p>
        @Html.ActionLink("Back to home", "Index", "Home")
    </p>
    
    <table cellpadding="5" cellspacing="5">
        <tr>
            <th>
                User Name
            </th>

            <th>
                Time Stuck
            </th>

            <th>
                Decsription
            </th>

        </tr>

        @foreach (var NStick in Model)
        {

            <tr>

                <td>
                    @Html.Encode(@NStick.UserName)
                </td>

                <td>

                    @Html.Encode(String.Format("{0:g}", @NStick.TimeStuck))

                </td>

                <td>
                    <div style="word-wrap:break-word;">
                        @Html.Encode(@NStick.Description)
                    </div>
                </td>

            </tr>

        }

    </table>
</body>


