@model CS_305_Group_Project.Models.NStick
@{
    ViewBag.Title = "SetHandled";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Set Handled</h2>

@{ 
    if (Model.Handled)
    {
        <p>
            Did you actually handle this report?
        </p>
    }
    else
    {
        <p>
            Did you accidentally mark this report as "handled"?
        </p>
    }
}

<ul>
    <li>
        @Model.UserName
    </li>
    

    @{
        string Time = Model.TimeStuck;
        string[] TimeParts = Time.Split('T');
        string[] FirstParts = TimeParts[0].Split('-');

        int t = 0;
        Int32.TryParse(TimeParts[1].Substring(0, 2), out t);

        string mornNight = "";

        if (t == 0)
        {
            mornNight = " AM";
            TimeParts[1] = "12" + TimeParts[1].Substring(2, 3);
        }
        else if (t < 12)
        {
            mornNight = " AM";
        }
        else if (t == 12)
        {
            mornNight = " PM";
        }
        else
        {
            t -= 12;
            if (t < 10)
            {
                TimeParts[1] = "0" + t.ToString() + TimeParts[1].Substring(2, 3);
            }
            else
            {
                TimeParts[1] = t.ToString() + TimeParts[1].Substring(2, 3);
            }
            mornNight = " PM";
        }

        Time = "";
        Time = FirstParts[1] + "-" + FirstParts[2] + "-" + FirstParts[0] + " " + TimeParts[1] + mornNight;
    }

    <li>Time Stuck: @Time</li>
    <li>Description: @Model.Description</li>
</ul>

@using (Html.BeginForm("PerformHandled", "NSticks", FormMethod.Post))
{

    @Html.HiddenFor(m => m.Id)

    @{ 
        if (Model.Handled)
        {
            <input type="submit" class="btn btn-warning" value="Yes!" />
        }
        else
        {
            <input type="submit" class="btn btn-warning" value="...Yes." />
        }
    }

    @Html.ActionLink("Cancel", "Index")
}